@model IEnumerable<PRUEBATEC.Models.ProductoModel>
@{
    ViewData["Title"] = "Lista de Productos";
}

<h2 class="mb-3">@ViewData["Title"]</h2>

<div class="mb-3">
    <input type="text" id="busqueda" class="form-control" placeholder="Buscar..." />
</div>

<p>
    <a class="btn btn-success" asp-action="Create">Nuevo Producto</a>
</p>

<table class="table table-bordered" id="tablaProductos">
    <th class="sortable" data-column="NombreP">
        Nombre <span class="sort-icon"> ↕</span>
    </th>
    <th>SKU</th>
    <th>Cantidad</th>
    <th class="sortable" data-column="PrecioV">
        Precio Venta <span class="sort-icon"> ↕</span>
    </th>
    <th class="sortable" data-column="PrecioC">
        Precio Costo <span class="sort-icon"> ↕</span>
    </th>
    <th>Última Modificación</th>
    <th>Acciones</th>


    <tbody id="tbodyProductos">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombreP</td>
                <td>@item.SKU</td>
                <td>@item.Cantidad</td>
                <td>@item.PrecioV.ToString("C2")</td>
                <td>@item.PrecioC.ToString("C2")</td>
                <td>@item.FechaModificacion.ToString("g")</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <button class="btn btn-sm btn-danger btnEliminar" data-id="@item.Id">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center mt-3">
    <nav>
        <ul class="pagination" id="paginacion"></ul>
    </nav>
</div>
<script>
    var productosData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));
    var alerta = '@TempData["Alerta"]';
    var tipoAlerta = '@TempData["TipoAlerta"]';
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/productos.js"></script>